.footer {
    background-color: var(--bg-footer-color);
    padding: 40px 0 20px 0;
    position: relative;
    bottom: 0;
    z-index: 0;
}

.hr-line{
    padding-bottom: 3%;
    border-bottom: 1px solid #4c6085;
    margin: 20px 0;
}

.footer-general {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer .footer-left {
    flex: 1;

    .footer-logo {
        width: 90%;
        margin-bottom: 5px;
    }

    .footer-email {
        text-decoration: none;
        font-size: 12px;
    }
}

.footer .footer-center .menu-collapse-column {
    flex: 2;
    display: flex;
    gap: 95px;
}

.footer .footer-center .menu-collapse-column .column h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer .footer-center .menu-collapse-column .column ul {
    list-style: none;
    padding: 0;
}

.footer .footer-center .menu-collapse-column .column ul li {
    margin-bottom: 10px;
}

.footer .footer-center .menu-collapse-column .column ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.menu-collapse {
    display: none;
}


.footer .footer-right {
    flex: 1;

    .ft-rgt-content {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }

}

.footer-bottom {
    background-color: #1f1f2e;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    border-top: 1px solid #444;
}

.footer-copy{
    font-size: 12px;
    color: #c9c9cd;
    text-align: center;
    margin-top: 10px;
}

.trust-pilot {
    text-align: end;
    font-size: 14px;
    padding-right: 5px;
}

@media (max-width: 1024px) {
    .footer .footer-center .menu-collapse-column {
        gap: 40px;
    }

}

@media (max-width: 768px) {

    .footer-general {
        display: block;
    }


    .footer .footer-left {
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-logo {
            width: 90%;
            margin-bottom: 20px;
        }
        .footer-email {
            font-size: 16px;
        }
    }
    .menu-collapse {
        padding-top: 20px;
        display: block !important;
    }
    .menu-collapse-column {
        display: none !important;
    }

    .footer .footer-right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;

        .ft-rgt-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .footer-copy {
        margin-top: 30px;
    }

    .trust-pilot {
        padding-left: 10px;
    }
}


@media (max-width: 425px) {

}
