<div class="search-bar">
  <app-select-game></app-select-game>

  <div class="search-input">
    <i class="search-icon"></i>
    <input type="text" placeholder="Search" (input)="onSearch($event)"/>
  </div>
  <div class="filters">
    <div class="filter">
      <i class="price-icon"></i>
      <select>
        <option value="all">All</option>
        <option value="low">Low</option>
        <option value="high">High</option>
      </select>
    </div>
    <div class="filter">
      <i class="item-icon"></i>
      <select>
        <option value="all">All</option>
        <option value="item1">Item Type 1</option>
        <option value="item2">Item Type 2</option>
      </select>
    </div>
  </div>
</div>
