<div class="sort-by-container" (click)="toggleDropdown()">
  <div class="d-flex flex-row">
    <span class="material-icons sort-icon">tune</span>
    <div class="flex-column column-width">
      <div class="text-label">
        <span>Sort By</span>
      </div>
      <div class="dropdown">
        <button  class="dropdown-button">
          {{ selectedOption }}
        </button>
        <ul *ngIf="isDropdownOpen" class="dropdown-menu" (click)="$event.stopPropagation()">
          <li *ngFor="let option of sortOptions" (click)="selectOption(option, $event)">
            {{ option }}
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <span class="material-icons">keyboard_arrow_down</span>
    </div>
  </div>
</div>
