.product-card {
  background-color: #2b2d42;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  margin: 10px;
}

.card-header {
  position: relative;
}

.stock-quantity {
  height: 50px;
}

.icon-game{
  padding: 4px 8px;
  border-radius: 12px;
  border: #38e29d 1px solid;
}
.on-sale {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #e63946;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 4px;
  color: white;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-name {
  font-size: 18px;
  margin: 0 0 8px;
  color: #f1faee;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.original-price {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  color: #92949e;
}

.discounted-price {
  font-weight: bold;
}

.product-description {
  text-align: justify;
  line-height: 1.3;
  font-size: 11px;
  margin: 10px 0;
  color: var(--color-not-important);
}

.card-footer {
  display: flex;
  justify-content: space-between;
}

.details-button {
  background-color: #457b9d;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart {
  background-color: #1d3557;
  border: none;
  padding: 8px 12px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
